@import "./general.scss";

.form-holder {
  padding: 0.5rem;
  margin: 1rem 1.5rem;
  margin-bottom: 0;

  label {
    margin-top: 0.5rem;
  }
}

.form-alert {
  color: $accent-red;
  margin: -0.25rem 1rem;
  word-wrap: normal;
}
